{
    "env": {
      "browser": true,
      "jest": true,
      "es6": true,
      "node": true
    },
    "parser": "babel-eslint",
    "plugins": [
      "react",
      "import"
    ],
    "rules": {}
  }